<div class="day-header">
  <h1>{{date | date: 'EE dd.MM.yy'}}</h1>
  <app-spinner style="transform: scale(0.7); display: block; margin: auto;" *ngIf="showSpinner"></app-spinner>
  <div *ngIf="!showSpinner"></div>
  <h3>{{abWoche === 0 ? 'A' : 'B'}} Woche</h3>
</div>
<table>
  <tbody>
  <ng-container *ngFor="let field of today; let i = index;">
    <tr
      *ngIf="!!field.name && field.name !== 'Frei'"
      (click)="onTrClick(field)"
      [ngClass]="{
        'e': field.vd?.typ === 'e' || field.vd?.typ === 'eva',
        'r': field.vd?.typ === 'raum-vtr.',
        'k': field.vd?.typ === 'k'
       }">
      <td>{{i + 1}}</td>
      <td>{{field.name}}</td>
      <td *ngIf="field.raum !== ''">{{field.raum}}</td>
      <td *ngIf="field.lehrer !== ''">{{field.lehrer}}</td>
    </tr>
    <tr *ngIf="!!field.name && field.name === 'Frei'" >
      <td>{{i + 1}}</td>
      <td colspan="3">Frei</td>
    </tr>
  </ng-container>

  </tbody>
</table>

<p *ngIf="!online"><b>Achtung: Offline</b></p>

<p *ngIf="showSpinner">Lade...</p>

<p *ngIf="noVDFound">Noch kein Vertretungsplan verfügbar.</p>

<p *ngIf="!showSpinner && Svd?.vp === null && !noVDFound">Keine Vertretung.</p>


<app-stufe-vertretung
  appNotSwipable
  *ngIf="showVD"
  [stufe]="stufe"
  [vertretungsdaten]="Svd">
</app-stufe-vertretung>

<p *ngIf="!showSpinner && fetchedAt !== null">Abgerufen um {{fetchedAt | date: 'HH:mm'}}</p>
