table {
  width: 100%;
  user-select: none;
}
.day-header {
  padding-left: 10px; 
  padding-right: 10px; 
  display: grid;
  grid-template: 100% / 60% auto auto;
  grid-gap: 7px;
  align-items: baseline;
  user-select: none;
  h3 {
    text-align: right;
  }
}

app-stufe-vertretung {
  overflow-x: auto;
}
