@import "../../../../colors";
.calendar {
  display: grid;
  grid: auto / 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  max-width: 900px;
  width: 97%;
  margin: 10px auto 0;
}

.item {
  position: relative;
  width: auto;
  height: calc(100vh / 6);
  background: $light;
  margin: 1px;
  border-radius: 5px;
  overflow: hidden;
  padding: 3px;
  @media (min-width: 600px) {
    margin: 5px;
  }
  h4 {
    margin: 4px 0;
    text-align: center;
  }
  &.filler-item {
    opacity: 0;
  }
  .event-hint {
    cursor: pointer;
    width: calc(100% - 6px);
    overflow: hidden;
    border-radius: 5px;
    padding: 2px;
    margin: 0 auto 1px;
    text-overflow: ellipsis;
  }
  .frei {
    background: red;
  }
  .klausur {
    background: blue;
  }
}
