<app-show-event [event]="currentEvent" (close)="currentEvent = null"></app-show-event>
<app-fab>
  <i class="material-icons block">add</i>
</app-fab>

<h1 class="center-text">{{now | date: 'MMMM'}}</h1>

<div class="calendar">

  <ng-container *ngFor="let item of month; let i = index;">
    <div class="item" *ngIf="item !== null">
      <h4>{{i - this.offset + 1}}</h4>
      <div [class]="'event-hint ' + event.typ"
           *ngFor="let event of item"
           [ngClass]="{'frei': event.typ === 'ferien' || event.typ === 'ferientag'}"
           (click)="currentEvent = event">
        {{event.name}}
      </div>
    </div>
    <div class="item filler-item" *ngIf="item === null"></div>
  </ng-container>


</div>

<br>
