@import "../../../../colors";
.calendar {
  display: grid;
  grid: auto / auto auto auto auto auto auto auto;
  max-width: 900px;
  width: 97%;
  margin: 10px auto 0;
}

.item {
  position: relative;
  width: auto;
  height: calc(100vh / 6);
  background: $light;
  margin: 1px;
  border-radius: 5px;
  @media (min-width: 600px) {
    margin: 5px;
  }
  &.filler-item {
    opacity: 0;
  }

  .frei {
    background: red;
  }
  .klausur {
    background: blue;
  }
}
