<app-popup *ngIf="showLogoutPopup" (close)="showLogoutPopup = false">
  <ng-template [ngIf]="logoutOrAccountRemoval === 0">
    <h2 class="center-text">Abmelden</h2>
    <p class="center-text">
      Bist du sicher, dass du dich abmelden möchtest?
      Dies wird deinen Account nicht löschen, manche nur lokal-gespeicherte Informationen werden dabei gelöscht.
      Deine Stufe und Kurse / dein Stundenplan sind davon nicht betroffen.
      Auf anderen Geräten bleibst du noch angemeldet.
    </p>
    <app-popup-button (click)="logout()">Ja</app-popup-button>
    <app-popup-button (click)="showLogoutPopup = false">Abbrechen</app-popup-button>
  </ng-template>

  <ng-template [ngIf]="logoutOrAccountRemoval === 1">
    <h2 class="center-text">Account löschen</h2>
    <p class="center-text">
      Bist du sicher, dass du deinen Account löschen möchtest?
      <b>Dies ist nicht wiederherstellbar!</b><br>
      <b>Alle deine Daten werden gelöscht!</b>

    </p>
    <app-popup-button (click)="removeAcc()">Ja</app-popup-button>
    <app-popup-button (click)="showLogoutPopup = false"><b>Nein</b></app-popup-button>
  </ng-template>

</app-popup>

<app-card>
  <app-card-header>User</app-card-header>

  <app-button class="center-button" [accent]="true" (click)="doShowLogout()">Abmelden</app-button>
  <br>

  <p>{{user$ | async | json}}</p>
  <p>Alle über dich gesammelten Daten, gemäß DSGVO:</p>

  <table class="dark">
    <tr>
      <th>Name</th>
      <td>{{name$ | async}}</td>
    </tr>
  </table>
  <br>

  <ng-template [ngIf]="(user$ | async)?.normal !== null"> <!-- Normal -->
    <table class="dark">
      <tr>
        <th>Email</th>
        <td>{{(user$ | async).normal.email}}</td>
      </tr>
      <tr>
        <th>Email Verifiziert?</th>
        <td>{{(user$ | async).normal.email_verified ? 'Ja' : 'Nein'}}</td>
      </tr>
    </table>
  </ng-template>


  <ng-template [ngIf]="(user$ | async)?.google !== null"> <!-- Google -->
    <table class="dark">
      <tr>
        <th>Email</th>
        <td>{{(user$ | async).google.email}}</td>
      </tr>
      <tr>
        <th>Google ID</th>
        <td>{{(user$ | async).google.gid}}</td>
      </tr>
    </table>
  </ng-template>


  <ng-template [ngIf]="(user$ | async)?.insta !== null"> <!-- Insta -->
    <table class="dark">
      <tr>
        <th>Instagram ID</th>
        <td>{{(user$ | async)?.insta.iid}}</td>
      </tr>
      <tr>
        <th>Token (aus Sicherheitsgründen gekürzt)</th>
        <td>{{(user$ | async)?.insta.token.substr(0, 7) + "***********"}}</td>
      </tr>
    </table>
  </ng-template>

  <br>
  <a class="center-button" (click)="showAccountLoeschen()">Account löschen</a>



</app-card>
