<div class="tab-header">
  <div
    *ngFor="let tab of tabs; let i = index;"
    (click)="labelClicked(i)"
    [ngClass]="{'inactive': activeIndex !== i}"
    class="tab-header-item">
    {{tab.label}}
  </div>
</div>

<div class="tab-content-wrapper">

  <div
    class="tab-content"
    [appSwipable]="activeIndex"
    (snapto)="setActive = $event"
    [ngStyle]="{'width': tabs.length * 100 + '%', 'transform': 'translateX(-' + (activeIndex * (1 / tabs.length) * 100) + '%)'}">
    <ng-container *ngFor="let tab of tabs; let i = index;">
      <ng-container *ngTemplateOutlet="tab.content"></ng-container>
    </ng-container>
  </div>

</div>
