<app-card [loading]="loading">
  <app-card-header>Stufe</app-card-header>
  <p class="center-text">
    Super! Jetzt kannst du UGW einrichten. Gib dazu zunächtst deine Stufe an.
  </p>

  <h3 *ngIf="!!error">Fehler: {{error}}</h3>

  <app-input #dd type="dropdown" [dropdownOptions]="this.setupQuery.availStufen$ | async">Stufe</app-input>

  <app-button class="center-button"
              accent="true"
              [disabled]="!dd.value"
  >
    Weiter <span *ngIf="!!dd.value">mit {{ dd.value }}</span>
  </app-button>
</app-card>
