div {
  display: inline-block;
  background: transparent;
  color: black;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 5px 15px;
  position:relative;
  transition: all 0.3s;
  cursor: pointer;
  user-select: none;

  &.disabled {
    filter: blur(0.5px) grayscale(0.8);
    cursor: default;
  }

  &:hover {
    background-color: lightgray;
  }



}

