<label
  for="input"
  [ngClass]="{
      'focused': focused,
      'colored': labelColored,
      'invalid': invalid
  }"
>
  <ng-content></ng-content>
</label>

<input
  *ngIf="type !== 'dropdown'"
  [ngClass]="{'invalid': invalid}"
  (input)="onInput($event)"
  (focusin)="focusIn()"
  (focusout)="focusOut($event)"
  (keyup.enter)="enter.emit()"
  id="input"
  type="{{type}}"
>

<ng-template [ngIf]="type === 'dropdown'">
  <input
    (focusin)="focusIn()"
    (focusout)="focusOutDD()"
    id="input"
    type="text"
    (input)="onDDInput($event)"
    [value]="value"
  >
  <div class="arrow" [ngClass]="{'flip': ddfocused}"></div>
  <ul
    class="dropdown"
    *ngIf="ddfocused"
    [@dropdown]="'open'"
  >
    <li
      *ngFor="let option of dropdownOptionsVisible$ | async"
      (click)="dropdownSelect(option)"
    >{{option}}</li>
  </ul>

</ng-template>
