@import "../../../../colors";
:host {
  position:relative;
  margin-top: 20px;
  margin-bottom: 10px;
  display: block;
  width: 100%;
}

input[type=text],
input[type=email],
input[type=password],
input[type=number] {
  display: block;
  width: calc(100% - 2 * 10px); // 100% - padding for each side (x2)
  padding: 10px;
  border: 2px solid $light;
  background: transparent;
  color: $light;
  opacity: 0.95;
  transition: all 0.2s linear;
  box-shadow: 3px 3px 0 0 $primary;
  font-size: 17px;
  &.invalid {
    box-shadow: 3px 3px 0 0 $attention;
  }

  &:focus {
    opacity: 1;
    color: $primary;
    border: 2px solid $primary;
  }
}

label {
  pointer-events: none;
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 3;
  font-size: 17px;
  padding: 0 3px;
  transition: transform 150ms ease-out, font-size 150ms ease-out;

  &.focused {
    transform: translateY(-115%);
    background: $dark;
    padding: 0 3px;
    font-size: 16px;
  }
  &.colored {
    color: $primary;
  }
}

.invalid {
  color: $attention!important;
}

.dropdown {
  display: block;
  list-style-type: none;
  padding: 0 5px;
  transform: translateY(-10px);
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
  li {
    display: block;
    margin: 4px auto;
    padding: 10px 5px;
    width: 100%;
    background: $primary;
    color: $dark;
    font-size: 17px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s linear;
    &:hover {
      background-color: $accent;
    }
  }
}

.arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid;
  margin: 0 4px;
  color: white;
  position: absolute;
  right: 15px;
  top: 20px;
  user-select: none;
  pointer-events: none;
  transition: transform 0.2s ease-in-out;

  &.flip {
    transform: rotate(180deg);
  }
}