@import "../../../../colors";
:host {
  display: block;
  margin: 15px auto 0; // half of padding (see below)
  padding: 10px;
  width: 95%;
  height: calc(90vh - 56px - 30px); // 90vh - height of toolbar - padding
  background: $dark;
  box-shadow: 5px 5px 0 0 $primary;
  color: $light;
  overflow: hidden;


  #scroll {
    overflow-y: auto;
    width: 100%;
    height: 99%;
    padding-right: 30px;


  }
}
