@import "../../../../colors";
:host {
  display: block;
  margin: 15px auto 0; // half of padding (see below)
  height: calc(90vh - 56px - 30px); // 90vh - height of toolbar - padding
  background: $dark;
  box-shadow: 5px 5px 0 0 $primary;
  color: $light;
  overflow: hidden;
  padding: 10px 15px 10px 10px;
  max-width: 550px;
  @media (max-width: 622px){
    width: 100%;
    padding-left: 0;
  }
  width: 90%;

  #scroll {
    overflow-y: auto;
    width: 100%;
    height: 99%;
    padding-right: 30px;
    position: relative;

    #backdrop {
      position: absolute;
      height: 100%;
      width: 100%;
      background: $dark;
      z-index: 4;
      opacity: 0.8;
    }
  }
}
