<app-popup *ngIf="basicsQuery.showPopup$ | async" (close)="closePopup()">
  <h3>{{(basicsQuery.popupData$ | async)?.stunde.name}}</h3>
  <table style="width: 100%">
    <tr>
      <td class="bold">Name</td>
      <td class="bold">Fach</td>
      <td class="bold">Lehrer</td>
      <td class="bold">Raum</td>
    </tr>
    <tr>
      <td>{{(basicsQuery.popupData$ | async)?.stunde.name}}</td>
      <td>{{(basicsQuery.popupData$ | async)?.stunde.fach}}</td>
      <td>{{(basicsQuery.popupData$ | async)?.stunde.lehrer}}</td>
      <td>{{(basicsQuery.popupData$ | async)?.stunde.raum}}</td>
    </tr>
  </table>
</app-popup>
<app-tab>
  <app-tab-item label="{{appQuery.today$ | async | date: 'EE' }}">
    <!-- Today -->
    <app-home-table
      class="tab-item"
      [today]="(appQuery.tt$ | async)[appQuery.abwoche$ | async][(appQuery.today$ | async).getDay() - 1]"
      [abWoche]="appQuery.abwoche$ | async"
      [date]="appQuery.today$ | async"
      [showSpinner]="loading"
      [vd]="appQuery.vertretungsDaten$ | async"
      [stufe]="appQuery.stufe$ | async"
    ></app-home-table>
  </app-tab-item>
  <!-- Next Day -->
  <app-tab-item label="{{appQuery.nextDay$ | async | date: 'EE' }}">
    <app-home-table
      class="tab-item"
      [today]="(appQuery.tt$ | async)[appQuery.abwoche$ | async][(appQuery.nextDay$ | async).getDay() - 1]"
      [abWoche]="appQuery.abwoche$ | async"
      [date]="appQuery.nextDay$ | async"
      [showSpinner]="loading"
      [vd]="appQuery.vertretungsDaten$ | async"
      [stufe]="appQuery.stufe$ | async"
    ></app-home-table>
  </app-tab-item>
</app-tab>
