<app-popup *ngIf="basicsQuery.showPopup$ | async" (close)="closePopup()">
  <h1>Some Test</h1>
  <p>Some Content here Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto deserunt dolore est facilis molestias natus nobis praesentium quo quod repellat, sunt, unde vitae voluptates. Aliquam consequuntur fugit pariatur quos reprehenderit?</p>
</app-popup>
<app-tab>
  <app-tab-item label="{{appQuery.today$ | async | date: 'EE' }}">
    <!-- Today -->
    <app-home-table
      class="tab-item"
      [today]="(appQuery.tt$ | async)[appQuery.abwoche$ | async][(appQuery.today$ | async).getDay() - 1]"
      [abWoche]="appQuery.abwoche$ | async"
      [date]="appQuery.today$ | async"
      [showSpinner]="loading"
      [vd]="appQuery.vertretungsDaten$ | async"
    ></app-home-table>
  </app-tab-item>
  <!-- Next Day -->
  <app-tab-item label="{{appQuery.nextDay$ | async | date: 'EE' }}">
    <app-home-table
      class="tab-item"
      [today]="(appQuery.tt$ | async)[appQuery.abwoche$ | async][(appQuery.nextDay$ | async).getDay() - 1]"
      [abWoche]="appQuery.abwoche$ | async"
      [date]="appQuery.nextDay$ | async"
      [showSpinner]="loading"
      [vd]="appQuery.vertretungsDaten$ | async"
    ></app-home-table>
  </app-tab-item>
</app-tab>
