<!--suppress AngularUndefinedBinding -->
<div id="menu"
     *ngIf="query.menuOpen$ | async"
     [@menuOpen]="(query.menuOpen$ | async) ? 'open' : 'closed'">
  <ul (click)="service.changeMenuState()">
    <ng-container *ngFor="let item of menuItems">
      <li [routerLink]="item.route" *ngIf="item.cond(comp)">
        <i class="material-icons block">{{item.icon}}</i>
        <span class="block">{{item.name}}</span>
      </li>
    </ng-container>

    <li><span class="block italic light">UGW v.{{query.version}}</span></li>
  </ul>
</div>

<!-- Backdrop -->
<div id="backdrop"
     *ngIf="query.menuOpen$ | async"
     (click)="service.changeMenuState()"
     [@backdropVisible]="(query.menuOpen$ | async) ? 'open' : 'closed'">

</div>

