<!--suppress AngularUndefinedBinding -->
<div id="menu"
     *ngIf="query.menuOpen$ | async"
     [@menuOpen]="(query.menuOpen$ | async) ? 'open' : 'closed'">
  <ul (click)="service.changeMenuState()">
    <li routerLink="/"><i class="material-icons block">home</i><span class="block">Home</span></li>
    <li routerLink="/user" ><i class="material-icons block">account_circle</i><span class="block">User</span></li>
    <li routerLink="/basics/stundenplan" ><i class="material-icons block">date_range</i><span class="block">Stundenplan</span></li>
  </ul>
</div>

<!-- Backdrop -->
<div id="backdrop"
     *ngIf="query.menuOpen$ | async"
     (click)="service.changeMenuState()"
     [@backdropVisible]="(query.menuOpen$ | async) ? 'open' : 'closed'">

</div>

