<!--suppress AngularUndefinedBinding -->
<div id="menu"
     *ngIf="query.menuOpen$ | async"
     [@menuOpen]="(query.menuOpen$ | async) ? 'open' : 'closed'">
  <ul (click)="service.changeMenuState()">
    <li *ngFor="let item of menuItems" [routerLink]="item.route">
      <i class="material-icons block">{{item.icon}}</i>
      <span class="block">{{item.name}}</span>
    </li>
    <li><span class="block italic light">UGW v.{{query.version}}</span></li>
  </ul>
</div>

<!-- Backdrop -->
<div id="backdrop"
     *ngIf="query.menuOpen$ | async"
     (click)="service.changeMenuState()"
     [@backdropVisible]="(query.menuOpen$ | async) ? 'open' : 'closed'">

</div>

