@import "../../../../colors";
div {
  display: inline-block;
  background: $bg;
  color: $light;
  padding: 16px 26px;
  position:relative;
  box-shadow: 5px 5px 0 0 $primary;
  transition: all 0.1s;
  cursor: pointer;
  user-select: none;

  &.swap {
    background: $primary;
    box-shadow: 5px 5px 0 0 $bg;
    color: $bg;
  }

  &.accent {
    background: $primary;
    box-shadow: 5px 5px 0 0 $accent;
    color: $bg;
  }

  &.disabled {
    filter: blur(0.5px) grayscale(0.8);
    cursor: default;
  }

  &:not(.disabled):hover {
    transform: translate(2.5px, 2.5px);
    box-shadow: 0 0  0 0 $primary;
  }




}

